streamlit
numpy
pandas
matplotlib==3.10.8
scipy==1.17.1
scikit-learn==1.8.0
joblib==1.5.3
torch==2.10.0
torchvision==0.25.0
opencv-python-headless==4.13.0.92
mediapipe==0.10.14
Pillow==12.1.1
streamlit-webrtc==0.64.5
av==16.1.0
